body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#piano{
height: 240px;
padding: 90px 30px 30px;
background-color: #2f2b2b;
border-radius: 10px;
}

.keys{
    position: relative;
    border: #fff 1px solid;
}

.white-keys{
    display: flex;
}
.white-key{
    width: 68px;
    height: 280px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: solid black 2px;
    box-sizing: border-box;

}

.black-keys{
    position: relative;
    display: flex;
}

.black-key{
    width: 30px;
    height: 160px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: absolute;
    background-color: #000;
}

.black-key:nth-child(1){
    left: 53px;
}

.black-key:nth-child(2){
    left: 122px;
}

.black-key:nth-child(3){
    left: 258px;
}

.black-key:nth-child(4){
    left: 325px;
}

.black-key:nth-child(5){
    left: 394px;
}

.black-key:nth-child(6){
    left: 529px;
}

.black-key:nth-child(7){
    left: 599px;
}

.black-key:nth-child(8){
    left: 667px;
}

.black-key:nth-child(9){
    left: 802px;
}

.black-key:nth-child(10){
    left: 870px;
}

.key:active {
    transform: scale(0.975);
}

.white-key {
    z-index: 1;}

.black-key {
    z-index: 2;}

    @media screen and (max-width: 600px)
    {
        #piano{
            height: 200px;
            padding: 40px 15px 0px;
        }
        .white-key{
            width: 22px;
            height: 180px;
        }
        .black-key{
            width: 10px;
            height: 110px;
        }
        .black-key:nth-child(1){
            left: 17px;
        }
        .black-key:nth-child(2){
            left: 39px;
        }
        .black-key:nth-child(3){
            left: 84px;
        }
        .black-key:nth-child(4){
            left: 106px;
        }
        .black-key:nth-child(5){
            left: 128px;
        }

        .black-key:nth-child(6){
            left: 172px;
        }
        .black-key:nth-child(7){
            left: 194px;
        }
        .black-key:nth-child(8){
            left: 216px;
        }
        .black-key:nth-child(9){
            left: 260px;
        }
        .black-key:nth-child(10){
            left: 280px;
        }
    }

    @media screen and (max-width: 900px) and (min-width: 601px)
    {
        #piano{
            height: 240px;
            padding: 50px 25px 25px;
        }
        .white-key{
            width: 50px;
            height: 240px;
        }
        .black-key{
            width: 20px;
            height: 140px;
        }
        .black-key:nth-child(1){
            left: 40px;
        }
        .black-key:nth-child(2){
            left: 90px;
        }
        .black-key:nth-child(3){
            left: 190px;
        }
        .black-key:nth-child(4){
            left: 240px;
        }
        .black-key:nth-child(5){
            left: 290px;
        }

        .black-key:nth-child(6){
            left: 390px;
        }
        .black-key:nth-child(7){
            left: 440px;
        }
        .black-key:nth-child(8){
            left: 490px;
        }
        .black-key:nth-child(9){
            left: 590px;
        }
        .black-key:nth-child(10){
            left: 640px;
        }
        
    }
